apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: job-runner-role
  namespace: new-ns
rules:
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - get
